body{
    font-family: sans-serif;
}

.knapp1_t{
    margin-top: 7px;
    color: rgba(0,0,0,0.87);
}

#knapp1{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    height: 35px;
    width: 100px;
    outline: 2px solid lightgrey;
}