html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbff5;
    width: 100vw;
    height: 100vh;
}

.container{
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.page{
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 55%;
    width: 60%;
    background-color: white;
}

.nit_head{
    display: flex;
    margin-left: 5%;
    height: 100px;
}

.menu_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 5%;
}

.page_cont{
    display: flex;
    flex-direction: column;

}

.filter_box{
    display: flex;
}

.prod_cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3%;
    padding: 5px;
}

.prod_cont_trend{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer_box{
    display: flex;
    flex-grow: 1;
}

.alt{
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

.title_box{
    display: flex;
    align-items: center;
}

.prod_holder{
    display: flex;
    flex-direction: row;
}

.prod_holder_trend{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
}

.prod_box{
    display: flex;
    flex-direction: column;
    border: 2px solid lightgrey;
    border-radius: 2px;
    width: 200px;
    margin: 5px 10px 5px 10px;
}

.prod_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;
}

a, p{
    color: rgba(0,0,0,0.70);
}

.cost{
    font-style: italic;
    margin-right: 5%;
}

.trend_title{
    font-size: 20px;
    margin-left: 5%;
}

.title{
    font-size: 30px;
    color: rgba(0,0,0,0.87);
    margin-left: 5%;
}

.footer_box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.safe{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3%;
}
