html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lavender;
    width: 100%;
}

.container{
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

.page{
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 55%;
    width: 53%;
    height: 100%;
    background-color: white;
}


.nit_head{
    display: flex;
    height: 100px;
    margin-left: 5%;
}

.menu_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 5%;
}

.page_cont{
    display: flex;
    flex-direction: column;
}

.filter_box{
    display: flex;
    margin: 10px 1px 1px 5%;
}

.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgrey;
    border-radius: 2px;
    width: 100px;
    height: 35px;
    background-color: rgba(203,203,203,0.20);
    color: rgba(0,0,0,0.87);
}

.prod_cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.prod_cont_trend{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.alt, #kundvagn{
    color: rgba(0,0,0,0.87);
}

.title_box{
    display: flex;
    align-items: center;
    margin-top: 2%;
}

.prod_holder{
    display: flex;
    flex-direction: row;
}

.prod_holder_trend{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
}

.prod_box_t{
    display: flex;
    flex-direction: column;
    border: 2px solid lightgrey;
    border-radius: 2px;
    width: 98%;
    height: 95%;
    margin: 2%;
}

.prod_img_s{
    width: 200px;
    height: 200px;
}

.prod_img_b, .prod_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
}

a, p{
    color: rgba(0,0,0,0.70);
    text-decoration: none;
}

.trend_title{
    font-size: 20px;
    margin-left: 5%;
}

.title{
    font-size: 30px;
    color: rgba(0,0,0,0.87);
    margin-left: 5%;
}

.title_r{
    color: rgba(0,0,0,0.87);
    font-size: 23px;
    text-decoration: underline;
}

.kontakta_oss{
    margin-left: 5%;
    margin-top: 3%;
}

.kundvagn_r{
    color: rgba(0,0,0,0.87);
    display: flex;
    justify-content: space-around;
    margin: 2%;
    font-size: 20px;
}

.kundvagn_p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    flex-direction: column;
}

.sum_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.kundvagn_sum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 5% 10px 5%;
    height: 100px;
}

.kundvagn2_p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(203,203,203,0.20);
    align-items: center;
    padding-left: 5%;
    padding-right: 10%;
    margin: 10px 5% 10px 5%;
    border: 2px solid lightgrey;
    border-radius: 2px;
}

.kundvagn_p_antal{
    margin-left: -10%;
}

.kundvagn_p_pris{
    margin-left: 10%;
}

.kundvagn_p_prod{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info_om{
    font-size: 15px;
    font-style: italic;
}

.title_n, .cost_p{
    font-size: 20px;

}

.safe{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
}

.footer_box{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.prod_box{
    display: flex;
    flex-direction: column;
    border: 2px solid lightgrey;
    border-radius: 2px;
    width: 200px;
    margin: 10px 5px 5px 10px;
}

.prod_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cost, .cost_p{
    font-style: italic;
}

.next_box{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 5% 1px 5px;
}

.next_s{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgrey;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-color: rgba(203,203,203,0.20);
    color: rgba(0,0,0,0.87);
}

.next, .next_köp, .prev{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgrey;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    background-color: rgba(203,203,203,0.20);
    color: rgba(0,0,0,0.87);
}

.next_köp{
    width: 100px;
    height: 50px;
}

.next_köp_text{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 10%;
}

.img_info{
    border: 2px solid lightgrey;
    border-radius: 2px;
    margin: 10px 5% 1px 5px;
}

.prod_info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 5% 1px 5%;
}

.köp_info{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.prod_info_detail{
    display: flex;
    flex-grow: 1;
    margin: 10px 1% 1px 5%;
    justify-content: center;
    align-items: center;
}

.prod_info_om{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_antal_köp{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.antal_text{
    margin-right: 5%;
    color: rgba(0,0,0,0.87);
}

.prod_antal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#prod_antal_box{
    width: 40px;
    height: 20px;
    text-indent: 36%;
    box-shadow: inset 1px 1px 10px -6px rgba(0,0,0,0.75);
}

.prod_pris, .prod_antal, .next_box{
    margin-top: 3%;
    margin-bottom: 3%;
}

.formular_holder{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 3%;
}

.formular{
    display: flex;
    flex-direction: column;
    margin: 1px 5% 1px 5%;
}

.formular_fyll_1, .formular_fyll_2, .formular_fyll_3{
    width: 204px;
    height: 20px;
    border-radius: 1px;
    border: solid lightgrey 1px;
    box-shadow: inset 1px 1px 10px -6px rgba(0,0,0,0.75);
    text-indent: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.formular_fyll_1{
    width: 100px;
}

.knappar{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: space-around;
}

#1, #2, #3{
    width: 250px;
    margin-left: 2px;
    margin-right: 2px;
}

.formular_s{
    display: flex;
    flex-direction: column;
    margin: 1px 5% 1px 5%;
}
.formular_fyll_1_s, .formular_fyll_2_s{
    width: 204px;
    height: 20px;
    border-radius: 1px;
    border: solid lightgrey 1px;
    box-shadow: inset 1px 1px 10px -6px rgba(0,0,0,0.75);
    text-indent: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
    visibility: hidden;
}

.formular_fyll_1_s{
    width: 50px;
    visibility: hidden;
}

.text_s{
    color: rgba(0,0,0,0.70);
    text-decoration: none;
    visibility: hidden;
}

#ordernummer{
    margin-bottom: 5%;
}

* {box-sizing:border-box}

.mySlides {display:none}

.prod_img_desc {
    max-width: 400px;
    position: relative;
    margin: auto;
}
.prev, .next {
    margin-top: 25%;
    cursor: pointer;
    padding: 16px;
    color: rgba(0,0,0,0.87);
    font-weight: bold;
    font-size: 30px;
    transition: 0.4s ease;
}

.next {
    right: 0;
    margin-right: 3%;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.25s;
    animation-name: fade;
    animation-duration: 1.25s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

.prod_allt_holder{
    display: flex;
    flex-direction: row;
}


@media (max-width:768px) {
    .page{
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 2px;
        width: 600px;
        margin-left: -42%;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    body{
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130vh;
        height: 100%;

    }

    body {
        overflow: hidden;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .container{
        -webkit-font-smoothing: antialiased;
        display: flex;
        justify-content: center;
        flex-direction: row;
        box-sizing: border-box;
        width: 100%;
    }


    .prod_img_desc{
        justify-content: center;
        margin-top: -5%;
    }

    .prod_info{
        flex-direction: column;
    }

    html{
       padding-right: 1000px;
    }

}
